[Unit]
Description=Vector
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/vector/vector --config /usr/local/bin/vector/vector.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
